.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(144, 183, 221);
}

.container div {
  background-color: #d8b7e7;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}